[Unit]
Description=Automatic Update
After=network-online.target

[Service]
Type=simple
SyslogIdentifier=autoupdate
ExecStart=/usr/bin/sudo -u pwnarch /usr/bin/yay -Syuq --noconfirm --devel --timeupdate
TimeoutStopSec=300
KillMode=process
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
